body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: grey;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

button {
    margin-left: 10px;
}

.product {
    border: 1px solid #ccc;
    padding: 50px;
    margin: 50px;
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
  
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    border: 5px solid #ddd; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 
              -5px -5px 10px rgba(255, 255, 255, 0.5); 
  transition: transform 0.3s; 
  border-radius: 15px;
  
  }

 
  .cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .cart-item h3 {
    margin: 0;
    font-size: 1.2em;
    flex-grow: 1;
  }
  
  .cart-item p {
    margin: 0 20px;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-item form {
    margin-left: auto;
  }

  .total-cost {
    text-align: center;
    margin: 20px 0;
  }
  
  .total-cost h2 {
    font-size: 1.5em;
    color: #333;
  }

  .product h3, .cart-item h3 {
    margin: 0;
    font-size: 1.2em;
    flex-grow: 1;
  }
  
  .product p, .cart-item p {
    margin: 0 20px;
    font-size: 1.2em;
    color: #333;
  }
  
  .product form, .cart-item form {
    margin-left: auto;
  }
    
#cont{
  /* background-image: url('../images/b.png'); */
  background-color: black;
  height: 100vh;
  width: 100vh;
}